:root {
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  background-color: #f2e9b2;
}

header {
  padding: 2em;
}

h1 {
  font-size: 300%;
  line-height: 0.85;
  color: #295db1;
}

.titulo_header {
  font-size: x-large;
  color: #295db1;
  line-height: 1.5em;
  text-align: center;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.ul_navegador {
  list-style-type: none;
  padding: 0.1em;
}

.li_navegador {
  display: inline-block;
  margin-right: 0.3em;
}

.a_navegador {
  text-decoration: none;
  font-size: x-large;
  color: rgb(167, 196, 220);
  background-color: #a55ca1;
  padding: 0.3em;
  border-radius: 10%;
  display: flex;
  justify-content: space-between;
}

.a_navegador:hover {
  color: gold;
  font-weight: bold;
}

hr {
  color: #295db1;
  border-width: 2px;
  margin: 2rem;
}

.secciones {
  padding: 2em;
}

.secciones h2,
h3 {
  color: #a55ca1;
  font-size: large;
  text-align: center;
}

.secciones h2 {
  font-size: 2em;
}

.secciones p {
  font-size: 1.8em;
  color: #a55ca1;
}

.card-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 18em;
  height: 25em;
  margin-top: 1em;
  background-color: #d8e61a;
  border: 2px solid rgb(167, 196, 220);
  padding: 10px;
  border-radius: 5%;
  position: relative;
}

.card h4 {
  color: #a55ca1;
  background-color: #d8e61a;
  font-size: large;
  text-align: center;
}

.card img {
  width: 12em;
  height: 12em;
  display: block;
  margin: 0 auto;
}

.card p {
  color: #edc0c7;
  font-size: medium;
  text-align: center;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #a55ca1;
  padding: 10px;
  width: 18em;
  transition: opacity 0.3s;
}

.card:hover p {
  display: block;
}

.card:hover {
  background-color: #d8df81;
  box-shadow: 5px 5px 10px rgb(167, 196, 220);
}

.secciones form {
  width: 70%;
  color: #a55ca1;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mapa,
.parrafo_mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600;
  height: 400;
  border: 0;
}

.redes {
  background-color: #d8df81;
  border: 2px solid #295db1;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a55ca1;
}

.redes p {
  font-size: small;
}

.iconosRedes {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1rem;
}

.iconosRedes a {
  margin: 0 15px;
}

.formulario_contacto {
  margin: 2rem;
  padding: 1em 2em 2em 2em;
  background-color: #d8df81;
  border: 2px solid #295db1;
  border-radius: 10px;
}

.formulario_contacto h4 {
  color: #295db1;
  font-size: large;
  font-weight: bold;
}

fieldset {
  border-color: #295db1;
  background-color: #dde0b0;
  padding: 0 3em 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

fieldset input {
  border-radius: 10px;
  border: 1px solid #a55ca1;
  background-color: #eaf4c0;
  height: 2rem;
}

fieldset textarea {
  background-color: #edf4d2;
}

.botonesForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.submit {
  background-color: #79e61a;
  color: #295db1;
}

.reset {
  background-color: #e66f1a;
  color: #295db1;
}

.submit:hover,
.reset:hover {
  color: azure;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 1rem;
  color: #295db1;
}

@media (max-width: 650px) {
  .mapa,
  .parrafo_mapa {
    width: 90%;
  }

  .form-container fieldset {
    width: 90%;
    padding: 1rem;
  }
  .form-container label,
  .form-container input,
  .form-container textarea {
    width: 100%;
    margin-bottom: 1rem;
    line-height: 2em;
    line-height: 0.5;
  }
  .botonesForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .botonesForm .submit,
  .botonesForm .reset {
    width: 100%;
    margin-top: -30px;
    line-height: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/*---------------------------------*/

/*  PALETA  */

.color1 {
  color: #295db1;
}
.color2 {
  color: #a55ca1;
}
.color3 {
  color: #e68593;
}
.color4 {
  color: #ffc09b;
}
.color5 {
  color: #f2e9b2;
}
