:root {
  box-sizing: border-box;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  --color1: #1c23a5;
  --color2: #634aef;
  --color3: #e873b9;
  /*--color4: #e9c7ec;*/
  --color4: #c4cee4;
  --color5: #edf4d2;
  --color6: #79e61a;
  --color7: #e66f1a;
  --color8: azure;
  --color9: #17057b;
}

.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.color5 {
  color: var(--color5);
}
.color6 {
  color: var(--color6);
}
.color7 {
  color: var(--color7);
}
.color8 {
  color: var(--color8);
}
.color9 {
  color: var(--color9);
}

header {
  background-image: url(./../assets/imagenes/fondo_navegador.jpg);
  background-size: cover;
}

h1 {
  padding-top: 0.5em;
  font-size: 250%;
  line-height: 0.85;
  /*color: #295db1;*/
}

.titulo_header {
  font-size: x-large;
  /*color: #295db1;*/
  line-height: 1.5em;
  text-align: center;
}

hr {
  border-color: var(--color2);
  border-width: 2px;
  margin: 1rem;
}

.secciones {
  padding: 1.5em;
}

.secciones h2,
h3 {
  /*color: #a55ca1;*/
  font-size: large;
  text-align: center;
  width: 70%;
  margin: auto;
}

.secciones h2 {
  font-size: 2em;
}

.secciones p {
  width: 85%;
  margin: auto;
  font-size: 1.2em;
  padding-bottom: 0.5em;
  /*color: #a55ca1;*/
}

.prod-container {
  margin: 1.5em auto 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.cardProd {
  width: 12em;
  height: 15em;
  margin: 0.5em;
  background-color: var(--color4);
  border: 2px solid var(--color3);
  padding: 5px;
  border-radius: 5%;
  position: relative;
}

.cardProd h4 {
  /*color: #a55ca1;*/
  font-size: large;
  text-align: center;
  line-height: 1;
  margin: -0.1em;
}

.cardProd img {
  width: 6em;
  height: 5.5em;
  display: block;
  margin: 0.5em auto;
}

.cardProd p {
  font-size: medium;
  text-align: center;
  margin: 0.25em 0.25em auto;
}

.cardProd button {
  display: block;
  margin: 0.5em auto; /* Centra el botón horizontalmente */
  padding: 10px 20px;
  background-color: var(--color2);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cardProd button:hover {
  background-color: var(--color3);
}

.secciones form {
  width: 70%;
  /*color: #a55ca1;*/
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mapa,
.parrafo_mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  width: 600;
  height: 400;
  border: 0;
}

.redes {
  width: 50%;
  background-color: var(--color4);
  border: 2px solid var(--color1);
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  /*color: #a55ca1;*/
}

.redes p {
  font-size: small;
}

.iconosRedes {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1rem;
}

.iconosRedes a {
  margin: 0 15px;
}

.formulario_contacto {
  margin: 2rem;
  padding: 2em;
  background-color: var(--color4);
  border: 2px solid var(--color1);
  border-radius: 10px;
}

.formulario_contacto h4 {
  /*color: #295db1;*/
  font-size: large;
  font-weight: bold;
}

fieldset {
  border-color: var(--color2);
  /*background-color: var(--color4);*/
  background-image: url(../assets/imagenes/fondo-patitas-celeste.jpg);
  padding: 0 3em 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

fieldset input {
  border-radius: 10px;
  border: 1px solid var(--color2);
  background-color: var(--color8);
  height: 2rem;
}

fieldset textarea {
  background-color: var(--color8);
}

.botonesForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
}

.submit {
  background-color: var(--color6);
  /*color: #295db1;*/
}

.reset {
  background-color: var(--color7);
  /*color: #295db1;*/
}

.submit:hover,
.reset:hover {
  color: var(--color8);
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  gap: 1.25em;
  padding: 1.25em;
  max-width: 70%;
  margin: 0 auto;
}

.cardSomos {
  /*background-color: var(--color5);*/
  background-image: url();
  border: 2px solid var(--color3);
  border-radius: 5%;
  box-shadow: 0 0.25em 0.5em var(--color1);
  padding: 1.25em;
  text-align: center;
}

.Somos01 {
  background-image: url(./../assets/imagenes/QuienesSomos/cat&vet.jpg);
  background-size: cover;
  opacity: 50%;
}

.Somos02 {
  background-image: url(./../assets/imagenes/QuienesSomos/dog&vet.jpg);
  background-size: cover;
  opacity: 60%;
}

.Somos03 {
  background-image: url(./../assets/imagenes/QuienesSomos/donaciones.jpeg);
  background-size: cover;
  opacity: 60%;
}

.Somos04 {
  background-image: url(./../assets/imagenes/QuienesSomos/adopciones.png);
  background-size: cover;
  opacity: 60%;
}

.Somos05 {
  background-image: url(./../assets/imagenes/QuienesSomos/organiza.jpeg);
  background-size: cover;
  opacity: 60%;
}

.cardSomos h2 {
  margin: 1em 0 0.6em;
  font-size: 1.5em;
  text-align: left;
  line-height: 1.2;
  color: var(--color1);
  -webkit-text-stroke: 1px var(--color3);
}

.cardSomos p {
  font-size: large;
  font-weight: bold;
  line-height: 1;
  color: black;
  -webkit-text-stroke: 1px var(--color4);
}

.pSomos {
  line-height: 1;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 2.5rem;
  padding: 1rem;
  /*color: #295db1;*/
}

.float-button {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: var(--color2);
  color: var(--color3);
  border: none;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px var(--color9);
  transition: background-color 0.3s;
}

.float-button img {
  width: 2em;
}

.float-button:hover {
  background-color: var(--color4);
}

@media (max-width: 650px) {
  .a_navegador {
    font-size: large;
    width: 6rem;
    padding: 0.15em;
    margin: 0.1em;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .secciones {
    padding: 0.3em;
    margin: auto;
  }

  .mapa,
  .parrafo_mapa,
  .pSomos {
    width: 90%;
    font-size: 0.7em;
    text-align: justify;
  }

  .formulario_contacto {
    margin: 0.5rem;
  }

  .form-container fieldset {
    width: 95%;
    padding: 0.5rem;
  }
  .form-container label,
  .form-container input,
  .form-container textarea {
    width: 100%;
    margin-top: -15px;
    margin-bottom: 1rem;
  }

  .form-container textarea {
    line-height: 1;
  }

  .botonesForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .botonesForm .submit,
  .botonesForm .reset {
    width: 100%;
    margin-top: -30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  footer .fa-copyright {
    display: none;
  }

  .float-button {
    padding: 10px;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 200%;
    -webkit-text-stroke: 1px var(--color5);
  }

  h2 {
    font-size: 1.2em;
    -webkit-text-stroke: 1px var(--color5);
  }

  .card p {
    font-size: small;
    padding: 5px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }

  .mapa {
    width: 100%;
    height: 300px;
  }

  .mapa img {
    display: none;
  }

  .parrafo_mapa,
  .pSomos {
    font-size: 0.3em;
  }

  .form-container {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media (max-width: 330px) {
  h1 {
    line-height: 0.85;
    /*color: #295db1;*/
  }

  .card p {
    font-size: x-small;
    padding: 2px;
  }

  .mapa {
    width: 100%;
    height: 200px;
  }

  .parrafo_mapa {
    font-size: 0.5em;
  }

  .formulario_contacto textarea {
    height: 100px;
  }

  .formulario_contacto input,
  .formulario_contacto textarea {
    font-size: 14px;
  }
}
/*---------------------------------*/
